/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/JavaApplication11/nbproject/private/
/JavaApplication11/build/
/SomaComSwing/nbproject/private/
/SomaComSwing/build/
/CalculadoraDeIdade/nbproject/private/
/CalculadoraDeIdade/build/
/CalcIdadeAnoAtual/nbproject/private/
/CalcIdadeAnoAtual/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/CalculadoraDiferenciada/nbproject/private/
/CalculadoraDiferenciada/build/
